#developercontainer {
	display:none;
}

#mainpanel {
    margin-top: 4px;
    margin-left: 4px;
    border: none;
}

#mainpanel>.col {
    padding: 5px;
}

.extra-detail {
    display: none;
}

.info>dl>.line {
    display: inline;
}

.info>dl>.line>dd {
    display: none;
}

form {
    margin-bottom: 0;
}

#search>h2 {
    display: none;
}

#search {
    border-top: none;
    padding: 4px 0 4px 0;
}

#zoom {
    left: 4px;
}

#zoom>.z {
    border: none;
    background-size: 66%;
    width: 40px;
    height: 40px;
}

.loading {
    left: 35%;
    top: 35%;
}

.headertext {
    display: none;
}

#attributepane {
    width: 200px;
}

#attributepane .nodeattributes {
    overflow-y: auto;
    overflow-x: auto;
    border-bottom: none;
}

#attributepane .nodeattributes.name {
    padding: 0px;
    width: 200px;
}

#attributepane .nodeattributes .data,
#attributepane .nodeattributes .p,
#attributepane .nodeattributes .link {
    display: none!important;
}

#attributepane {
    bottom: 100px;
    top: initial;
    padding: 5px;
}

.left-close {
    margin-bottom: 0px;
    margin-left: 0px;
}